.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h3 {
  font-weight: bolder;
  padding-top: 10px;
  font-size: 30px;
}

h4 {
  font-weight: bolder;
  font-size: 22px;
}