@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Lato&family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: Lato, Montserrat, Assistant, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #212529;
}

.container {
  background-color: #ffffff;
  /* padding: 20px 50px; */
}


.addContainer {
  background-color: #e0fbfc;
  padding: 1.32% 3.31%;
  margin: 3% 20%;
}

.showContainer {
  background-color: #e0fbfc;
  padding: 1.32% 3.31%;
  margin: 3% 20%;
}

label{
  top: 10px;
  border: none;
  font-size: 20px;
  font-weight: 600;
}

input[type="text"] {
  height: 40px;
  top: 10px;
  border: none;
  background: #fff;
  font-size: 20px;
  font-weight: 200;
  width: 400px;
}

input[type="desc"] {
  height: 40px;
  top: 10px;
  border: none;
  background: #fff;
  font-size: 20px;
  font-weight: 200;
  width: 800px;
}